.answer-btn {
  border-radius: 12px;
  height: 2.6em;
  min-width: 7.6em;
  width: 100%;
  background-color: white;
  border: 1.4px solid rgb(30, 65, 159);
  cursor: pointer;
}

.answer-btn:hover {
  background-color: #4d94ff;
}