.question {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(209, 207, 207);
  max-width: 42em;
  width: 100%;
}

h3 {
  font-size: 1.2em;
  text-align: center;
}

.answers {
  display: flex;
  justify-content: space-evenly;
  padding: .5em;
  margin-bottom: .8em;
}

@media (max-width: 550px) {
  h3 {
    font-size: .9em;
  }
  .question {
    max-width: 540px;
    width: 100%;
  }
}