.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.qm-left, .qm-right {
  display: block;
  height: 20em;
  width: 20em;
  position: fixed;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5)
}

.qm-left {
  bottom: -15px;
  left: -55px;
  transform: rotate(30deg);
}

.qm-right {
  top: -45px;
  right: -55px;
  transform: rotate(-45deg);
}