.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 60em;
  padding-inline: 1em;
  margin-inline: auto;
}

.qm-left, .qm-right {
  display: inline-block;
  height: 20em;
  width: 20em;
  position: fixed;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5)
}

.qm-left {
  bottom: -55px;
  left: -75px;
  transform: rotate(30deg);
}

.qm-right {
  top: -50px;
  right: -75px;
  transform: rotate(-45deg);
}

.checkAnswers {
  border-radius: 15px;
  border: none;
  height: 3.2em;
  width: 11em;
  color: white;
  font-weight: bold;
  background-color: rgb(41, 105, 216);
  margin-top: 2.8em;
  cursor: pointer;
}

@media (max-height: 800px) {
  .App {
    height: unset;
  }
}

@media (max-width: 550px) {
  .App {
    height: unset;
    min-width: 0;
    padding-inline: 0;
    max-width: 550px;
    width: 100%;
  }
  .qm-left,
  .qm-right {
    display: none;
  }
}